In [1]:
import sys
import os

sys.path.append(os.path.join(os.getcwd(), '..', 'script'))

from data_cleaning import clean_and_filter_data

file_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'data', 'covid19_data.csv'))
valid_countries = ['USA', 'Italy', 'China', 'Brazil', 'India', 'Spain', 'Indonesia', 'Malaysia', 'Norway', 'UK']

output_dir = os.path.join(os.getcwd(), '..', 'output', 'data_cleaning')
os.makedirs(output_dir, exist_ok=True)

valid_df, invalid_df = clean_and_filter_data(file_path, output_dir, valid_countries)

if valid_df is not None and invalid_df is not None:
    print("Valid Data:")
    display(valid_df.head())

    print("\nInvalid Data:")
    display(invalid_df.head())

File loaded successfully.

Filtered valid data saved to /home/ky/projects/learn-data-science/covid19/notebook/../output/data_cleaning
Filtered invalid data saved to /home/ky/projects/learn-data-science/covid19/notebook/../output/data_cleaning
Valid Data:

,country,date,confirmed_cases,deaths,recoveries,total_confirmed,total_deaths,total_recoveries
0,Indonesia,2022-09-20,901,491,220,3284,1336,3461
1,Italy,2020-06-21,689,509,216,2758,2009,299
2,Norway,2020-02-08,55,45,5,1218,248,2347
3,Spain,2021-03-03,766,714,749,6973,3943,1697
4,Malaysia,2021-01-15,119,110,4,5469,3629,1590

Invalid Data:

,country,date,confirmed_cases,deaths,recoveries,total_confirmed,total_deaths,total_recoveries
71,Norway,2021-03-07,81,-4,48,2616,232,977
80,China,2021-02-18,161,-3,129,537,1716,766
96,Spain,2022-05-15,14,0,-3,6228,3759,114
138,India,2022-11-23,186,-1,166,4707,288,3778
180,Italy,2022-07-19,456,-5,187,6931,2401,3308